django==2.2.6
google-cloud-pubsub
mysqlclient
python-dateutil
google-api-python-client>=1.7.11
requests>=2.22
youtube-dl==2019.9.28
beautifulsoup4>=4.6.0
tenacity>=4.7
lxml >=4.1.1
html5lib>=1.0b10
gunicorn==19.9.0
celery[redis,auth,msgpack]==4.3.0
more-itertools==7.2.0
