django==3.0.2
google-cloud-pubsub
mysqlclient
python-dateutil
google-api-python-client>=1.7.11
requests>=2.22
youtube-dl==2020.03.08
beautifulsoup4>=4.6.0
tenacity>=4.7
lxml >=4.1.1
html5lib>=1.0.1
gunicorn==19.9.0
more-itertools==7.2.0
git+git://github.com/cml-cs-iastate/video_metadata
structlog==19.2.0
pytest
