{% extends "base.html" %}
<head>
  {% block title %}Cyads - Batch running status {% endblock title %}
  <meta name="description" content="Status of completed Batches">
</head>
{% block title-vis %}COMPLETED BATCHES{% endblock title-vis %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="column">
        <table id="completed-batches" class="table table-striped table-bordered" style="width:100%" data-server-side="true" data-ajax="/api/batches/?format=datatables">
          <thead>
            <tr>
              <th data-data="id">id</th>
              <th data-data="start_datetime">Start Date/Time</th>
              <th data-data="completed_datetime">Completed Date/Time</th>
              <th data-data="time_taken">Running time</th>
              <th data-data="total_bots">Total bots</th>
              <th data-data="server_hostname">Server hostname</th>
              <th data-data="server_container">Container hostname</th>
              <th data-data="location.state_name">Location</th>
              <th data-data="external_ip">External IP</th>
              <th data-data="status">Status</th>
              <th data-data="video_list_size">Video List Size</th>
              <th data-data="synced">Synced</th>
              <th data-data="processed">Processed</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script>
  $(document).ready(function() {
    $('#completed-batches').DataTable( {
        "processing": true,
        "responsive": true,
        "order": [[ 2, "desc" ]],
        "iDisplayLength": 25,
        "serverSide": false,
        "deferRender": true,
         searchCols: [
      null,
      null,
      null,
      null,
      null,
      null,
      null,
      null,
      null,
      { "search": "COMPLETED" },
      null,
      null,
      null,
   ]
    } );
  } );
  </script>
{% endblock content %}
