{% load dashboard_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cyads Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
<body>

<h1 align="center" class="text-primary"> Cyads Dashboard </h1>

<div class="row">
    <div class="col-sm-12 bg-primary">
    </div>
</div>

<div class="row">
  <div class="col-sm-7">
      <h3 style="text-align:center;" class="bg-success"> Running Batches </h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Start Date/Time</th>
                    <th scope="col">Total Bots</th>
                    <th scope="col">Location</th>
                    <th scope="col">Host</th>
                    <th scope="col">Container Id</th>
                    <th scope="col">External IP</th>
                    <th scope="col">Video List Size</th>
                </tr>
            <thead>
            <tbody>
                {% for batch in running_batch %}
                    <tr>
                        <td scope="row">{{batch.start_timestamp|timestamp_to_time}}</td>
                        <td scope="row">{{batch.total_bots}}</td>
                        <td scope="row">{{batch.location.state_name}}</td>
                        <td scope="row">{{batch.server_hostname}}</td>
                        <td scope="row">{{batch.server_container}}</td>
                        <td scope="row">{{batch.external_ip}}</td>
                        <td scope="row">{{batch.video_list_size}}</td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>

  </div>

   <div class="col-sm-5">
      <h3 style="text-align:center;" class="bg-success"> Ads By Location </h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">State</th>
                    <th scope="col">Total Batches</th>
                    <th scope="col">Total Requests</th>
                    <th scope="col">Total Ads</th>
                </tr>
            <thead>
            <tbody>
                {% for location in location_stats %}
                    <tr>
                        <td scope="row">{{location.location__state_name}}</td>
                        <td scope="row">{{location.total_batches}}</td>
                        <td scope="row">{{location.total_requests}}</td>
                        <td scope="row">{{location.total_ads}}</td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>

  </div>

</div>



<div class="row">

      <div class="col-sm-7">
      <H3 style="text-align:center;" class="bg-info"> Completed Batches </H3>

        <table class="table table-striped">
            <tr>
                <th scope="col">Start Date/Time</th>
                <th scope="col">Complete Time</th>
                <th scope="col">Total Running Time</th>
                <th scope="col">Total Bots</th>
                <th scope="col">Location</th>
                <th scope="col">Host</th>
                <th scope="col">Container Id</th>
                <th scope="col">External IP</th>
                <th scope="col" >Video List Size</th>
                <th scope="col" >Requests</th>
                <th scope="col" >Total Ads Found</th>
                <th scope="col" >Synced</th>
                <th scope="col" >Processed</th>


            </tr>
            {% for batch in completed_batch %}
                <tr>
                    <td scope="row">{{batch.start_timestamp|timestamp_to_time}}</td>
                    <td scope="row">{{batch.completed_timestamp|timestamp_to_time}}</td>
                    <td scope="row">{{batch.time_taken|format_second}}</td>
                    <td scope="row">{{batch.total_bots}}</td>
                    <td scope="row">{{batch.location.state_name}}</td>
                    <td scope="row">{{batch.server_hostname}}</td>
                    <td scope="row">{{batch.server_container}}</td>
                    <td scope="row">{{batch.external_ip}}</td>
                    <td scope="row">{{batch.video_list_size}}</td>
                    <td scope="row">{{batch.total_requests}}</td>
                    <td scope="row">{{batch.total_ads_found}}</td>
                    <td scope="row">{{batch.synced}}</td>
                    <td scope="row">{{batch.processed}}</td>
                </tr>
            {% endfor %}
        </table>

  </div>


</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>